if datasetNames
  each name in datasetNames
    if name != datasetName
      a.button.datasetName(href='/vcards/dataset/' + name)= name
    else
      span.button.datasetName= name
if oldDatasetName
  span#oldDatasetName.hidden= oldDatasetName
span#datasetName.hidden= datasetName
