//- edit.pug

- var status = (vcard.text.xStatus ? vcard.text.xStatus + ', ' : '') + 'edit'

form#edit.edit(method='POST', action='/vcards/save/' + editId, enctype="multipart/form-data")
  each field in vcard.fields
    include input-field.pug

  select#addField.addField.select&attributes({ name: 'addField', 'data-select-xhr': '/vcards/field/' })
    option(value='') Neues Feld
    each field, name in fields
      if vcard.fields.indexOf(name) < 0
        option(value=name)= field.label

  - var vcardFields = vcard.fields
  each field in ['xTimestamp', 'xStatus']
    - var vcard = null
    - var index = ''
    if vcardFields.indexOf(field) < 0
      include input-field.pug

  #submit.submit
    input.searchSubmit(type='submit', value='speichern')
