form#edit.edit(method='POST', action='/vcards/save/' + editId)
  each field in vcard.getFields()
    div.list-item
      div.field(id=field + '_container')
        label.label(for=field)
          = fields[field].label
          = ": "
        div.itemvalue
          include input.pug

  #submit.submit
    input.searchSubmit(type='submit', value='speichern')
