//- index.pug
extends ../../index.pug

block content
  div#vcard.vcard

    #head.head
      h1#headline.headline= title
        if vcard
          = " "
          = vcard.text.fn
        if editId
          = " bearbeiten"

      #headline-buttons.headline-buttons
        #searchButton.button.searchButton&attributes({'data-toggle': '#searchLayer'}) suchen
        #downloadButton.button.downloadButton&attributes({'data-open-url': '/vcards/download/'}) Download
        #uploadButton.button.uploadButton&attributes({'data-toggle': '#uploadLayer'}) Upload
        include parts/dataset-select.pug

    #content.content

      #list-container.list-container
        include parts/list.pug

      if vcard
        #vcard-container.vcard-container
          if editId
            include edit.pug
          else if vcard2
            include merge.pug
          else
            include item.pug

        if vcard && !vcard2 && !editId
          #vcard-buttons.vcard-buttons
            a#editButton.button.editButton&attributes({'href': '/vcards/edit/' + vcard.id + '/'}) ändern
            if delId
              a#delButton.button.delButton&attributes({'href': '/vcards/' + vcard.id + '/del/' + delId})= 'Vcard ' + delId + ' löschen'
            else
              a#delButton.button.delButton&attributes({'href': '/vcards/0/del/' + vcard.id})= 'löschen'

    include search.pug

    include upload.pug

append footer
  script(src='/js/vcards/script.js')
