extends ../../index.pug

block content
  h1#headline.headline
    = title
    if vcard
      = " "
      = vcard.getValue('fn')
  div#searchButton.button.searchButton
    a(href='javascript:toggleSuche()') suchen
  div#content.content
    include list.pug
    if vcard
      include item.pug

