extends ../../index.pug

block content
  div#vcardView.vcardView
    h1#headline.headline= title
      if vcard
        = " "
        = vcard.getValue('fn')
    #searchButton.button.searchButton&attributes({'data-toggle': 'searchLayer'}) suchen
    #content.content
      include list.pug
      if vcard
        include item.pug
    #searchLayer.searchLayer
      .searchLayerContent
