extends ../../index.pug

block content
  div#vcard.vcard
    h1#headline.headline= title
      if vcard
        = " "
        = vcard.getValue('fn')
      if edit
        = " bearbeiten"
    #headlineButtons.headlineButtons
      #searchButton.button.searchButton&attributes({'data-toggle': '#searchLayer'}) suchen
      if vcard
        a#editButton.button.editButton&attributes({'href': '/vcards/edit/' + vcard.id + '/'}) ändern
        if delId
          a#delButton.button.delButton&attributes({'href': '/vcards/' + vcard.id + '/del/' + delId})= 'Vcard ' + delId + ' löschen'
      include parts/dataset-select.pug
    #content.content
      include list.pug
      if vcard
        if edit
          include edit.pug
        else
          include item.pug
      else if vcard1 && vcard2
        include merge.pug
    #searchLayer.searchLayer.hidden
      .searchLayerContent
        include search.pug

append footer
  script(src='/js/vcards/script.js')
