extends ../../index.pug

block content
  div#vcard.vcard
    h1#headline.headline= title
      if vcard
        = " "
        = vcard.getValue('fn')
      if edit
        = " bearbeiten"
    #searchButton.button.searchButton&attributes({'data-toggle': '#searchLayer'}) suchen
    if vcard
      a#editButton.button.editButton&attributes({'href': '/vcards/edit/' + vcard.id + '/'}) ändern
    #content.content
      include list.pug
      if vcard
        if edit
          include edit.pug
        else
          include item.pug
    #searchLayer.searchLayer.hidden
      .searchLayerContent
        include search.pug

append footer
  script(src='/js/vcards/script.js')
