span.type
  input(type='checkbox', id='checkbox_' + field + index, name=field + index + '_type', value=type, checked)
  label(for='checkbox_' + field + index)= types[type]
  if fields[field].types.indexOf(type) < 0
    = ' #'
