ul#item.item-list
  each field in vcard.getFields()
    li.list-item
      div(id=field).field
        div.label
          = fields[field] ? fields[field].label : field
          =": "
        div.itemvalue
          if typeof vcard.getValue(field) == "string"
            span.type
              if vcard.getType(field)
                = type(vcard.getType(field)).join(", ")
                | !{':'}
            | !{' '}
            span.value
              if vcard.getValue(field).indexOf(';') > -1
                = unCsv(vcard.getValue(field))
              else if vcard.getValue(field).match(/^[0-9.-]+[T ][0-9:]+Z?$/)
                = timestamp(vcard.getValue(field))
              else
                = vcard.getValue(field)
              if vcard.getValue(field).indexOf('=') > -1
                = vcard.getValue(field)
          else
            include valuelist.pug
