ul#item.item
  each field in vcard.getFields()
    li.list-item
      div.field
        div.label
          = field
          =": "
        div.value
          if typeof vcard.getValue(field) == "string"
            span.value= vcard.getValue(field)
          else
            include valuelist.pug
