ul#item.item-list
  each field in vcard.getFields()
    li.list-item
      div(id=field).field
        div.label
          = fields[field] ? fields[field].label : field
          =": "
        div.itemvalue
          - var value = vcard.getValue(field, true)
          if typeof value == "string"
            span.value
              if value.indexOf(';') > -1
                = unCsv(value)
              else if value.match(/^[0-9.-]+[T ][0-9:]+Z?$/)
                = timestamp(value)
              else
                = value
              if value.indexOf('=') > -1
                = value
            if vcard.getType(field)
              span.type
                = ' (' + type(vcard.getType(field)).join(", ") + ')'
          else
            include valuelist.pug
