//- item.pug
mixin itemvalue(prop, field)
  if typeof prop.value == 'string'
    if fields[field].type == 'image'
      img(src='data:image/' + prop.type + ';' + prop.encoding.toLowerCase() + ',' + prop.value)
    else
      = prop.value
    if prop.type
      = ' (' + type(prop.type).join(', ') + ')'
  else if fields[field].parts
    span.parts
      - var comma = false
      each part, i in fields[field].parts
        if prop.value[part]
          = (comma ? ', ' : '')
          span(title=part)= prop.value[part]
          - comma = true
      if prop.type
        = ' (' + type(prop.type).join(', ') + ')'

ul#item.item-list
  each field in vcard.getFields()
    li.list-item
      div(id=field).field
        div.label
          = (fields[field] ? fields[field].label : field) + ": "
        div.itemvalue
          span.value
            if fields[field]
              if fields[field].type == 'list'
                ul.values
                  each prop in vcard.prop[field]
                    li.values-item
                      + itemvalue(prop, field)
              else
                + itemvalue(vcard.prop[field], field)
            else
              = field + ' type unkown'
