ul#item.item-list
  each field in vcard.getFields()
    li.list-item
      div(id=field).field
        div.label
          = fields[field] ? fields[field].label : field
          =": "
        div.itemvalue
          - var value = vcard.getValue(field, true)
          if typeof value == "string"
            span.value
              if vcard.get(field).type == 'jpeg' || vcard.get(field).type == 'png'
                img(src='data:image/' + vcard.get(field).type + ';' + vcard.get(field).encoding.toLowerCase() + ',' + value)
              else if value.indexOf(';') > -1
                = unCsv(value)
              else if value.match(/^[0-9.-]+[T ][0-9:]+Z?$/)
                = timestamp(value)
              else
                = value
            if vcard.getType(field)
              span.type
                = ' (' + type(vcard.getType(field)).join(", ") + ')'
          else
            include valuelist.pug
