//- item.pug
ul#item.item-list
  each field in vcard.getFields()
    li.list-item
      div(id=field).field
        div.label
          = fields[field] ? fields[field].label : field
          =": "
        div.itemvalue
          - var value = vcard.getValue(field, true)
          - var data = vcard.get(field)
          if typeof value == "string"
            span.value
              if data.encoding && (data.type == 'jpeg' || data.type == 'png')
                img(src='data:image/' + data.type + ';' + data.encoding.toLowerCase() + ',' + value)
              else if value.indexOf(';') > -1
                = unCsv(value)
              else if value.match(/^[0-9.-]+[T ][0-9:]+Z?$/)
                = timestamp(value)
              else
                = value
            if data.type
              span.type
                = ' (' + type(data.type).join(", ") + ')'
          else
            include valuelist.pug
