//- list.pug
.list-container
  #sort.sort
    select.select&attributes({ name: 'sort', 'data-select-url': '/vcards/sort/' })
      option(value='id')= 'Sortierung'
      each data, field in fields
        option(value=field, selected=field==sort)= data.label
  ul#list.list
    each vcard, id in vcards
      li.list-item
        a(href='/vcards/' + vcard.id + '/')= vcard.text.fn
