//- result.pug
ul#list.result-list
  each vcard, i in vcards
    li.list-item
      span.list-item-value
        if vcard.getValue('n', true)
          = Object.values(vcard.getValue('n', true)).join(', ')
        else
         = vcard.getValue('n', true)
      a.button.open(href='/vcards/' + vcard.id + '/') öffnen
      if id >= 0 && id != vcard.id
        a.button.merge(href='/vcards/merge/' + id + '/' + vcard.id + '/') merge
