//- search.pug
#searchLayer.layer.search-layer.hidden
  .layer-content.search-layer-content
    h2.search-headline Suchen
    #searchAgain.search-again.button.hidden&attributes({'data-toggle': '#searchForm, #searchResult, #searchInfo, #searchAgain'}) neue Suche
    #searchInfo.search-info
    form#searchForm.search-form(name='searchForm', method='POST', action='/vcards/search/' + id)
      .search-fields-container
        each field, name in fields
          div.search-field
            input.checkbox(type='checkbox', name='searchFields', value=name, id='search_' + name)
            label(for='search_' + name)
              = field.label
      .search-string-container
        input.search-string(type='text', name='searchString', placeholder='Suchwort', value='')
        #searchErrors.search-errors
        input.search-submit(type='submit', value='suchen...')
    #searchResult.result
