if fields[field].parts
  span.parts
    - var comma = false
    each part, i in fields[field].parts
      if value[part]
        = (comma ? ', ' : '')
        span(title=part)= value[part]
        - comma = true
    if data.type
      = ' (' + type(data.type).join(', ') + ')'
else
  ul.values
    each obj in value
      li.values-item
        = obj.value
        if obj.type
          = ' (' + type(obj.type).join(', ') + ')'
