//- index.pug
html
  head
    title Webserver - #{title}
    link(rel='stylesheet', href='/css/app.css')
  body
    block content
    block footer
      #footer.footer
        p &nbsp;
    include page-elements/footer.pug
