.page {
  border: 0;
  margin: 0 auto;
  max-width: 1200px;
  min-height: ~"calc(100% - 2em)";
  padding: 0 10px 2em;
  position: relative;

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  .footer {
    bottom: 0;
    left: 10px;
    position: absolute;
    right: 0;
    max-width: 90%;
  }
}

.hidden {
  display: none;
}
