.vcard {
  .edit {
    margin: 0;
    max-width: 35em;
    padding: 0;

    .add {
      border: 1px solid #cccccc;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      float: right;
      margin: 3px 1% 1em 0.2em;
      padding: 2px 8px;

      &:hover {
        border: 1px solid #666666;
      }
    }

    .field {
      margin: 0;

      &-label {
        padding: 4px 0 0;
        text-align: right;
      }

      .types {
        margin: 0.5em 0 1em;
      }

      .type {
        margin: 0 1em 0 0;
      }

      .types + .add {
        margin: -45px 1% 0 0.2em;
      }
    }

    .addField {
      margin: 0 0 1em;
    }

    .submit {
      .button {
        width: 100%;
      }
    }
  }
}
