.vcard {
  .field {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;

    &-label {
      color: #aaaaaa;
      flex: 1 100%;
      font-size: 0.75em;
    }

    &-value {
      flex: 1 100%;
      padding: 0;
    }

    &-values {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @media screen and (min-width: 768px) {
      &-label {
        color: #000000;
        flex: 1 20%;
        font-size: 1em;
        text-align: right;
      }

      &-value {
        flex: 1 79%;
        padding-left: 1%;
      }

      &-values-item {
        margin: 0 0 3px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
