// flexbox layout with header, left, center, right, footer
// weights 1, 2, 3, 4, 6, 8

.flex {
  &-wrapper {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
  }

  &-block {
    flex: 1 100%;
  }

  @media all and (min-width: 600px) {
    &-left,
    &-right {
      flex: 1 auto;
    }
  }

  @media all and (min-width: 1000px) {
    &-left {
      flex: 2 0 auto;
      order: 1;
    }

    &-center {
      flex: 5 0 auto;
      order: 2;
    }

    &-right {
      order: 3;
    }

    &-footer {
      order: 4;
    }
  }
}
