.vcard {

  .button {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.3em .5em 0.25em;
    text-align: center;
    text-decoration: none;

    &:hover {
      border: 1px solid #666666;
    }
  }

  .checkbox {
    margin: 0 10px 0 0;
  }

  .select {
    background: #ffffff;
    border-radius: 3px;
    font-size: 1em;
    padding: 2px 5px;
  }

  .input {
    &-text {
      font-size: 1em;
      padding: 2px 5px;
      width: 100%;
    }
  }

  #version_container {
    .input-text {
        width: 2.5em;
    }
  }

  #n_container {
    .input-text {
      margin-right: 1%;

      &.Vorname {
        width: 30%;
      }

      &.Nachname {
        width: 30%;
      }

      &.Titel {
        width: 11.5%;
      }

      &.part3,
      &.part5 {
        width: 12%;
      }

      &.part5 {
        margin-right: 0;
      }
    }
  }

  #adr_container {
    .input-text {
      margin-right: 1%;

      &.Straße {
        margin-bottom: 8px;
        width: 48%;
      }

      &.PLZ {
        width: 20%;
      }

      &.Ort {
        margin-right: 0;
        width: 30%;
      }

      &.Land {
        width: 47%;
      }

      &.part1,
      &.part2,
      &.part5 {
        width: 16.6%;
      }

      &.part5 {
        margin-right: 0;
      }
    }
  }
}
