.vcard {
  .headline {
    float: left;
  }

  .content {
    clear: both;
  }

  .list,
  .item-list,
  .result-list {
    float:left;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
  }

  .list {
    width: 15em;

    &-item {
      margin: 0 0 5px;
    }
  }

  .edit {
    float:left;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;

    .field {
      margin: 0 0 1em;

      .add {
        border: 1px solid #cccccc;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2em;
        margin: 0 0 0 0.2em;
        padding: 2px 8px;

        &:hover {
          border: 1px solid #666666;
        }
      }

      .types {
        margin: 0.5em 0 1em;
        padding: 0.2em 0 0;

        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }

      .type {
        margin: 0 1em 0 0;
      }
    }

    .label {
      font-size: 1.2em;
      padding: 3px 0.5em 0 0;
      text-align: right;
    }
  }

  .mergeView {
    float:left;
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    width: 80%;

    .merge {
      float: left;
      width: 50%;

      .itemValue {
        width: 15em;
      }
    }
  }

  .field {
    clear: both;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .label {
    float:left;
    width: 8em;
  }

  .itemvalue {
    float:left;
    width: 30em;
  }

  .values {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin: 0 0 5px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .headlineButtons {
    float: right;
    margin: 2em 0 0 0;
  }

  .button {
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    float: right;
    margin: 0 0 0 1em;
    padding: 0.3em 2em 0.25em;
    text-decoration: none;

    &:hover {
      border: 1px solid #666666;
    }
  }

  .searchLayer {
    background-color: rgba(128, 128, 128, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &Content {
      background-color: #ffffff;
      border: 5px solid #999999;
      margin: 10% 30%;
      min-height: 40%;
      padding: 1px 2em;
    }
  }

  .searchHeadline {
    float: left;
  }

  .searchInfo {
    float: right;
    font-size: 1.2em;
    max-width: 12em;
    padding: 30px 20px 20px 0;
  }

  .searchAgain {
    float: right;
    margin: 27px 0 0;
  }

  .searchFieldsContainer {
    clear: both;
    float: left;
    padding: 0 3em 0 0;

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }

  .checkboxContainer {
    padding: 0 0 .3em;
  }

  .checkbox {
    margin: 0 10px 0 0;
  }

  .searchStringContainer {
    float: left;
    width: 20em;
  }

  .searchString {
    font-size: 1.2em;
    margin: 0 0 .5em;
    padding: 3px 5px;
    width: 100%;
  }

  .search-errors {
    font-size: 1.2em;
    margin: .5em 0 1em;

    .error-list {
      list-style: none;
      margin: 0 0 10px;
      padding: 0;
    }
    .error-item {
      color: #cc0000;
    }
  }

  .searchSubmit {
    font-size: 1.2em;
    padding: 3px 20px;
    width: 100%;
  }

  .searchResult {
    clear: both;
    padding: 1px 0 0;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    .result-list {
      width: 100%;
    }

    .list-item {
      height: 2em;

      &-value {
        border-top: 1px solid transparent;
        display: inline-block;
        padding-top: 0.3em;
      }
    }
  }

  .input {
    &-text {
      font-size: 1.2em;
      padding: 2px 5px;
    }
  }
}
