.vcard {
  .merge {
    list-style: none;
    margin: 0;
    padding: 0;

    .field-value {
      width: 13em;

      &-label {
        display: inline-block;
        vertical-align: top;
        width: 11em;
        word-wrap: break-word;
      }
    }

    .submit {
      margin: 0 0 0 9.7em;
      width: 20em;

      .button {
        float: none;
        margin: 0 0 0 0.5em;
      }
    }
  }
}
