.vcard {
  min-height: 90vh;

  .headline {
    margin: 0.5em 0;

    &-buttons {
      margin: 0.5em 0 0;
      text-align: right;

      .button {
        display: inline-block;
        margin: 0 0 1em 1em;
      }

      .select {
        font-size: 1.1em;
      }
    }
  }

  .list-container {
    font-size: 1.2em;
  }

  .vcard-container {
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0;
  }

  .vcard-buttons {
    font-size: 1.2em;

    .button {
      display: inline-block;
      margin-right: 0.5em;
      width: ~'calc(33% - 1.5em - 1px)';

      &::last-child {
        margin-right: 0;
      }
    }
  }

  @media all and (min-width: 768px) {
    padding: 1em 0 0;

    .headline {
      margin: 0;

      &-buttons {
        margin: 0.7em 0;
        flex: 2 0 auto;
      }
    }

    .vcard-container {
      font-size: 1.2em;
    }
  }

  @media all and (min-width: 1024px) {
    .vcard-buttons {
      .button {
        display: block;
        margin-right: 0;
        width: auto;
      }
    }
  }
}
