.vcard {

  .headline {
    float: left;

    &::after {
      clear: both;
      content: '';
      display: block;
    }

    &-buttons {
      float: right;
      font-size: 1.2em;
      margin: 2em 0 0 0;

      .button {
        float: right;
        margin-left: 1em;
      }

      .select {
        padding: 0.25em 0.25em 0.25em;
      }
    }
  }

  .list-container {
    font-size: 1.2em;
    overflow: auto;
  }

  .vcard-container {
    font-size: 1.2em;
    margin: 0 0 1em 2em;
    overflow: auto;
    padding: 0;
  }

  .vcard-buttons {
    font-size: 1.2em;
  }
}
