.vcard {
  .search {
    &-layer-content {
      height: 70%;
      overflow: auto;
      width: 35em;
    }

    &-headline {
      float: left;
    }

    &-again {
      float: right;
      margin: 27px 0 0;
    }

    &-info {
      float: right;
      font-size: 1.2em;
      max-width: 12em;
      padding: 30px 20px 20px 0;
    }

    &-fields-container {
      clear: both;
      float: left;
      padding: 0 3em 0 0;

      &::after {
        clear: both;
        content: '';
        display: block;
      }
    }

    &-field {
      padding: 0 0 .3em;
    }

    &-string-container {
      float: left;
      width: 20em;
    }

    &-string {
      border: 1px solid #aaaaaa;
      font-size: 1.2em;
      margin: 0 0 .5em;
      padding: 3px 5px;
      width: 100%;
    }

    &-errors {
      font-size: 1.2em;
      margin: .5em 0 1em;

      .error-list {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
      }

      .error-item {
        color: #cc0000;
      }
    }

    &-submit {
      font-size: 1.2em;
      padding: 3px 20px;
      width: 100%;
    }
  }
}
