<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Webapp</title>
    <meta name="description" content="Webapp for vCard editing">
    <meta name="viewport" content="width=device-width">
    <link href="/css/app.css" rel="stylesheet" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>
<body>
    <div class="page">
        <h1>Apps:</h1>
        <h2><a href="/vcards/">vCards</a></h2>
    </div>
<% if (hostname && livereloadPort) { %>
    <script src="http://<%= hostname %>:<%= livereloadPort %>/livereload.js" language="JavaScript"></script>
<% } %>
</body>
</html>
